.container {
	position: relative;
}

.gallery {
	height: 400px;
	width: 300px;
	margin: 0 auto;
}

img {
	opacity: 0;
	position: absolute;	
}

.buttons {
	margin-top: 20px;
	display: flex;
	justify-content: center;
} 

input {
	margin: 0 10px; 
	background-color: grey;
	width: 70px;
	font-weight: 800;
}

.shown {
	opacity: 1;
}
